[project]
name = "neural-network-andrei"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "numpy>=1.24.0",
    "matplotlib>=3.7.0",
    "graphviz>=0.21",
]

[dependency-groups]
dev = [
    "ipykernel>=7.1.0",
]
